@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0A0908;
  justify-content: center;
  margin-top: 23px;
}

@font-face{
  font-family: "NatureBeauty";
  src:local("NatureBeauty"),
  url('./assets/fonts/NatureBeauty.ttf') 
}

@font-face {
  font-family: "LovelyHome";
  src:local("LovelyHome")
  url('./assets/fonts/LovelyHome.ttf');
}